<!--navbar-->
<div class="container">
    <div class="row mt-4">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-info text-white">
                    Store
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'items_list' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>Store <i class="fas fa-users"></i></h4>
                                   
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href="{% url 'products' %}">
                                <div class="card my-card shadow text-center p-3">
                                    <h4>PRODUCTS <i class="fas fa-box"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <a class="text-decoration-none text-dark" href='{% url 'admin_dash' %}'>
                                <div class="card my-card shadow text-center p-3">
                                    <h4>ORDERS <i class="fas fa-shipping-fast"></i></h4>
                                    
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--navbar-->
